<header role="banner">

    
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    <div class="navbar-mobile">
        <input type="checkbox" id="hamburger-checkbox">
        <label class="burger" for="hamburger-checkbox">
            <button>
                <div class="container top">
                    <div class="line top"></div>
                </div>
                <div class="container bottom">
                    <div class="line bottom"></div>
                </div>
            </button>
            <nav>
                <ul>
                    <a href="{{ '/' | relative_url }}"><li>HOME</li></a>
                    {% for path in page_paths %}
                        {% assign my_page = site.pages | where: "path", path | first %}
                        {% if my_page.title %}
                            <a href="{{ my_page.url | relative_url }}"><li>{{ my_page.title | escape | upcase }}</li></a>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </label>
    </div>

    <div class="navbar-desktop-container">
        <div id="navbar-logo-container">
            {% if include.homepage == nil %}
                <a href="{{ '/' | relative_url }}">
            {% else %}
                <a style="visibility: hidden">
            {% endif %}
                    {% include sticker_logo.html %}
                    <h2>HIGH HEAT</h2>
                </a>
        </div><div style="display: inline-block; width: 55%; box-sizing: border-box; padding-right: 10%;">
            <nav>
                {%- for path in page_paths -%}
                    {%- assign my_page = site.pages | where: "path", path | first -%}
                    {%- if my_page.title -%}
                        <div><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape | upcase }}</a></div>
                    {%- endif -%}
                {%- endfor -%}
            </nav>
        </div>
    </div>
</header>
<script src="{{ '/assets/scripts/dropdown.js' | relative_url }}"></script>