---
title: "Music"
permalink: /music/
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}
<body>
{% include header.html %}
<div class="content">
    <h1>Stream</h1>
    {% include music_platforms.html 
        spotify = "https://open.spotify.com/artist/40PTC167k3JNNITfZL72aW" 
        apple_music = "https://music.apple.com/us/artist/high-heat/1304906415?app=music" 
        youtube = "https://youtube.com/channel/UCwwlmsLi4eey5fR05-YFoug"
        tidal = "https://listen.tidal.com/artist/9244554" 
        amazon_music = "https://music.amazon.com/artists/B01NAG1DB8" 
        pandora = "https://www.pandora.com/artist/high-heat/AR42r3PpgZ5f5K4" 
        youtube_music = "https://music.youtube.com/browse/UCwwlmsLi4eey5fR05-YFoug" 
        deezer = "https://www.deezer.com/artist/13533851" 
    %}
    <h1>Buy</h1>
    {% include music_platforms.html 
        apple_music = "https://music.apple.com/us/artist/high-heat/1304906415?app=itunes" 
        amazon_music = "https://amazon.com/dp/B01NAG1DB8"
    %}
    <hr style="visibility: hidden; height: 20vh;">
    {% for post in site.categories.music %}<div class="release-preview">
        <a href="{{ post.url | relative_url }}">
            {% include forward_arrow.html %}
            <div style="padding: 15px;">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h2>{{ post.title }}</h2>
                <img src="{{ post.cover | relative_url }}" style="width: 100%;">
            </div>
        </a>
    </div>{% endfor %}
</div>
<hr style="visibility: hidden; height: 20vh;">
{% include footer.html %}
</body>
