---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Pre-define variables minima uses that we want to change go here

$brand-color: #c94c4c;
$dark-color: #000000;
$light-color: #ffffff;

@import "minima";

$thumb-pad: 5px;

@mixin desktop-only() {
  @media only screen and (min-width: $on-laptop) {
    @content;
  }
}

body {
    overscroll-behavior: none;
    color: $light-color;
    background-color: $dark-color;
    position: relative;
}

h1, h2, blockquote {
    font-family: 'Syncopate', Helvetica, Arial, sans-serif;
}

body, h3, p, button {
    font-family: 'Nunito Sans', Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    
    @include desktop-only() {
        max-width: 80%;
    }
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font-size: 12px;
    font-weight: 900;
}

blockquote {
    font-size: 48px;
    font-weight: 400;
    color: $light-color;
}

.highlight-section {
    color: $light-color;
    background-color: $brand-color;
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
}
.text-call-out {
    color: $brand-color;
}
.highlight-section .text-call-out {
    color: $dark-color;
}

header {
    position: relative;
    margin-bottom: 60px;
    
    @include desktop-only() {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }
}

.site-footer {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.site-footer ul {
    display: block;
}
.site-footer ul li {
    display: inline-block;
}
.site-footer ul li .svg-icon {
    margin-right: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    width: 30px;
    height: auto;
    fill: $light-color;
}
.site-footer ul li .svg-icon:hover {
    fill: $brand-color;
}

.site-footer h2 {
    font-size: 16px;
}
.site-footer div.content {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit;
    border-top: 1px solid $light-color;
    display: block;
    box-sizing: border-box;
    margin-bottom: 0;
}
.site-footer div.content div {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 25px;
    vertical-align: top;
    margin-bottom: $spacing-unit;
    
    @include desktop-only() {
        width: 50%;
    }
}

.navbar-desktop-container {
    display: none;
    overflow: auto;
    margin: 0;
    padding: 0;
    
    @include desktop-only() {
        display: block;
    }
}
.navbar-desktop-container h2 {
    font-size: 16px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    color: $light-color;
}
.navbar-desktop-container a {
    color: darken($light-color, 15%);
    font-size: 12px;
    text-decoration: none;
}
.navbar-desktop-container a:hover {
    color: $light-color;
}

.navbar-desktop-container nav {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#navbar-logo-container {
    display: inline-block;
    width: 45%;
    padding-left: 5%;
    box-sizing: border-box;
}
#navbar-logo-container .sticker-logo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    width: 70px;
}
#navbar-logo-container a:hover #backing {
    stroke: $brand-color;
    fill: $brand-color;
}
#navbar-logo-container a:hover h2 {
    color: $brand-color;
}

.sticker-logo {
    height: 100%;
    position: absolute;
}




/* -------- Mobile dropdown ------------ */
.navbar-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    
    @include desktop-only() {
        display: none;
    }
}

/* The important stuff */
.container.top {
  transform: translateY(-5px) scaleX(.88235);
}

.container.bottom {
  transform: translateY(5px) scaleX(.88235);
}

input:checked + label .container .line.bottom {
  transform: rotateZ(45deg);
}

input:checked + label .container .line.top {
  transform: rotateZ(-45deg);
}

input:checked + label .container.bottom {
  transform: none;
}

input:checked + label .container.top {
  transform: none;
}

input:checked + label .line.bottom {
  transform: none;
  transition-delay: 0.1s;
}

input:checked + label .line.top {
  transform: none;
  transition-delay: 0.1s;
}

.container {
  transition: transform 0.2s ease-in-out 0.1s;
}

input:checked + label .container {
  transition-delay: 0s;
}

.line {
  transition: transform 0.2s ease-in-out;
}

input:checked + label nav {
  display: initial;  
}

input:checked + label {
  overflow: auto;
  height: 100vh;
  
  animation-name: slidein;
  animation-duration: 0.5s;
}

@keyframes slidein {
  from {
    height: 0px;
  }

  to {
    height: 100vh;
  }
}

.navbar-mobile button {
  all: unset;
  cursor: pointer;
  display: block;
}

.navbar-mobile button * {
  pointer-events: none;
}

.burger {
  width: 100%;
  display: block;
  position: relative;
  background-color: $dark-color;
  padding-top: 60px;
  box-sizing: border-box;
  min-height: 60px;
}

.navbar-mobile nav {
  display: none;
}

.navbar-mobile nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
.navbar-mobile nav li {
  width: 100%;
  box-sizing: border-box;
  padding: 5%;
  font-size: 24px;
  border-bottom: 1px solid $light-color;
}
.navbar-mobile nav a {
  text-decoration: none;
  color: $light-color;
  font-weight: 700;
}
.navbar-mobile nav a:hover {
    color: $brand-color;
}

.container {
  position: absolute;
  right: 5%;
  top: 30px;
}

.line {
  height: 2px;
  border-radius: 3px;
  background: white;
  width: 30px;
}

.navbar-mobile input {
  display: none;
}

body.dropdown-open {
  overflow: hidden;
}

/* ----------- end mobile dropdown ------------ */

.content {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: $spacing-unit;
    
    @include desktop-only() {
        width: 80%;
    }
}

.sticker-logo {
    height: 100%;
}

/*#sticker-logo #backing {
    stroke: $brand-color;
    fill: $brand-color;
}*/

#lakeside-col-a, #lakeside-col-b {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

#lakeside-col-a p, #lakeside-col-b p {
    padding: 5px;
}

#lakeside-col-a {
    text-align: center;
    
    @include desktop-only() {
        display: inline-block;
        max-width: 40%;
        vertical-align: middle;
    }
}

#lakeside-col-b {
    text-align: center;
    
    @include desktop-only() {
        display: inline-block;
        max-width: 50%;
        padding-left: 5%;
        padding-right: 5%;
        vertical-align: middle;
        margin-left: auto;
    }
}

#venues-scroll {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    display: block;
    margin-bottom: $spacing-unit * 2;
}

#venues-scroll div {
    display: inline-block;
    margin-right: 2.5%;
    box-sizing: border-box;
    text-align: center;
}

#venues-scroll div img {
    height: 40vh;
    width: 60vw;
    object-fit: cover;
    box-sizing: border-box;
    border: 1px solid $light-color;
    border-radius: 5px;
    margin-bottom: $spacing-unit / 2;
    
    @include desktop-only() {
        width: 20vw;
    }
}

#charity-section {
    width: 100%;
    margin-top: $spacing-unit * 2;
    
    @include desktop-only() {
        float: right;
        width: 60%;
        text-align: center;
    }
}
#charity-section img {
    width: 100%;
}
#charity-section p {
    padding: 15px;
    max-width: 500px;
    box-sizing: border-box;
    margin: auto;
}

.thumbnail-section {
    overflow: auto;
    margin-bottom: $spacing-unit;
    font-size: 0;
    box-sizing: border-box;
    padding: $thumb-pad;
    border-radius: 5px;
    background-color: $grey-color-light;
    
    background: linear-gradient(346deg, rgba($grey-color-light,1) 0%, rgba($grey-color-light,0) 75%);
}

.thumbnail-section img {
    box-sizing: border-box;
    border: $thumb-pad solid transparent;
    width: 50%;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
        
    @include desktop-only {
        width: 33.3%;
    }
}

.thumbnail-section img:hover {
    border-color: $brand-color;
}

.credits {
    color: $grey-color;
    float: right;
}

.pop-up {
    width: 100%;
    height: 100%;
    background-color: rgba($brand-color, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.body-with-overlay {
    overflow: hidden;
}

.cta-button {
    padding: 12px 20px;
    font-weight: 900;
    font-size: 16px;
    background-color: $brand-color;
    color: $light-color;
    border: 1px solid $dark-color;
    border-radius: 6px;
}
.cta-button:hover {
    border-color: $light-color;
    cursor: pointer;
};

#gallery-photo {
    border: none;
    width: 100%;
    min-height: 500px;
    margin-bottom: $spacing-unit / 2;
    background: url(/assets/img/loading.gif) 50% no-repeat;
}